html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

html{
    background-color: #2E2F2C;

}

body {
    background: no-repeat center / cover url(../images/JapaneseApartmentSunset.svg);
    display: flex;
}

nav {
    border: outset rgba(252, 88, 76);
    border-radius: 5%;
    margin-top: 20px;
    margin-left: 20px;
    position: fixed;
    height: auto;
}
nav > ul {
    list-style-type: none;
    padding: 10px;
    margin: 0;
}
nav > ul > li {
    text-align: left;
    font-size: 2rem;
    padding: 5px;
}
nav > ul > li > a {
    display: block;
    color: #545952;
    transition: background-color 0.3s;
    font-family: 'Courier New', Courier, monospace;
    font-size: x-large;
}
nav > ul > li > a:hover {
    color: rgba(252, 88, 76, 0.9);
}

.homeContainer {
    margin: 0 auto;
    width: 40%;
    padding: 0;
    height: fit-content;
    justify-content: center;
}

.pageTitle {
    text-align: center;
    text-shadow: 1px 1px 1px black;
}
.pageTitle > h1 {
    font-size: 3rem;
    margin-bottom: 0;
}
.pageTitle > h2 {
    margin-top: 0;
    font-size: xx-large;
    font-weight: 500;
}

.introduction {
    text-align: center;
    color: #000000;
    background: rgb(103, 90, 82, 0.75); 
    border: 2px solid rgb(22, 23, 21, 0.25); 
    box-shadow: 7px 7px 5px rgb(22, 23, 21, 0.50);
    border-radius: 2%;
    font-size: x-large;
    font-weight: 600;
    padding: 3px;
}